.user-content-wrapper {
    /* This is a content container */
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3em;
}

.user-content {
    /* content to have dynamic width */
    display: flex;
}

.chart-tools {
    display: flex;
    justify-content: space-between;
}

.user-data {
    width: 75%;
}

.user-input {
    width: 25%;
    margin-top: 25px;
    margin-left: 10px;
}

/* MEDIA QUERIES FOR RESPONSIVENESS */
@media screen and (min-width: 576px) {
    .user-content {
        width: 540px;
    }
}
@media screen and (min-width: 768px) {
    .user-content {
        width: 720px;
    }
}
@media screen and (min-width: 992px) {
    .user-content {
        width: 960px;
    }
}
@media screen and (min-width: 1200px) {
    .user-content {
        width: 1140px;
    }
}
@media screen and (min-width: 1400px) {
    .user-content {
        width: 1320px;
    }
}
@media screen and (max-width: 992px) {
    .user-content {
        flex-direction: column;
    }
    .user-data {
        width: 100%;
    }
    .user-input {
        width: 100%;
        margin-left: 0;
    }
}
@media screen and (max-width: 575px) {
    .user-content {
        width: 100%;
    }
}